.content-wrapper {
    padding: 20px;
  }

/* Título del Dashboard */
  .dashboard-title {
    text-align: center;
    font-weight: bold;
  }

  .d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }