<ion-content class="ion-padding">
  <div class="financial-dashboard">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="card income-card">
            <div class="card-title">Income</div>
            <div class="card-amount">{{ income | currency }}</div>
          </div>
        </ion-col>
        
        <ion-col size="6">
          <div class="card spent-card">
            <div class="card-title">Spent</div>
            <div class="card-amount">{{ expenses | currency }}</div>
          </div>
        </ion-col>
      </ion-row>
  
      <!-- Current Balance -->
      <ion-row>
        <ion-col size="12">
          <div class="card balance-card">
            <div class="card-title">Balance</div>
            <div class="card-amount">{{ balance | currency }}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  

  <!-- Recent Transactions -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recent Transactions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        <ion-item *ngFor="let transaction of transactions | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: transactions.length }">
          <ion-icon 
            [name]="transaction.category ? 'cash-outline' : 'wallet-outline'" 
            slot="start"
            [color]="transaction.type === 'income' ? 'success' : 'danger'"
          ></ion-icon>
          <ion-label>
            <h2>{{ transaction.category || 'Income' }}</h2>
            <p>{{ transaction.date | date:'medium' }}</p>
          </ion-label>
          <ion-note 
            slot="end" 
            [color]="transaction.type === 'income' ? 'success' : 'danger'"
          >
            {{ transaction.amount | currency }}
          </ion-note>
        </ion-item>
        
        <ion-item *ngIf="!transactions.length" lines="none">
          <ion-label class="ion-text-center">
            No transactions yet
          </ion-label>
        </ion-item>
      </ion-list>
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openTransactionModal()" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="cleanTransactions()" color="tertiary">
      <ion-icon name="alert-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>